html{
    background-color:white;   
}
.row{   
    display:flex;
    justify-content:space-between;
    background-color:black;
    color:#00e5e1;
    font-size:20px;
    margin-left:0px;
    font-family: 'Monoton', cursive;

}
.headshot{
    width:20%;
}
.midimage{
    width:100%;   
}

.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:70px;
    margin-top:10px;
    margin-bottom:5px;
}
.aboutme{
    border:100px blue;   
}
h1{
    font-size:60px;
    color:#00e5e1;
    font-family: 'Monoton', cursive;
}
.rowfooter{
    background-color:black;
    font-size:15px;
    color: White;
}
p{
    font-size: 20px;
    font-family: 'Baumans', cursive;
}






